/* 
    Document   : styles
    Created on : 11-Feb-2014, 23:25:39
    Author     : richard
    Description:
        Bar Web Portal
*/
html, body, .glass::before {
    font-family: 'Century Gothic', Verdana, sans-serif;
    font-size: 100%;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.glass {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.glass {
    display: block;
    position: relative;
    background-color: black;
}

.glass::before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
}
body {
    background: url(/img/bg-img.jpg) no-repeat;
    background-size: cover;
}
.glass::before {
    background-image: url('/img/bg-img.jpg');
    /* Prefix free isn't picking up this one */
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    opacity: 0.5;
}
.logo {
    font-weight: lighter;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

#requests {
    width: 80%;
    height: 68%;
    position: absolute;
    margin: 7% 10%;
    overflow: scroll;
}

.list {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0 8px;
}
.list tr {
    background: rgba(0, 0, 0, 0.7);
}
.list tr td {
    padding: 10px 10px;
}

.glass_content {
    width: 80%;
    margin: 0 auto;
}
#request_form h1 {
    font-weight: normal;
    color: #8d9291;
    margin: 3px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
#request_form h1::before, #request_form h1::after {
    position: absolute;
    left: 5%;
    top: 0;
    background-image: url('/img/double-chevron-up.svg');
    content: ' ';
    display: block;
    width: 3rem;
    height: 3rem;
    transition: transform 0.2s ease-out 0.5s;
}
#request_form h1::after {
    left: auto;
    right: 5%;
}

#request_form input.text {
    width: 40%;
    font-size: 1.3rem;
    padding: 8px;
    margin: 8px;
}

.glass.down {
    /* Fallback for browsers that don't support 3D Transforms */
    -webkit-transform: translateY(100%) translateY(-3rem);
    -webkit-transform: translateY(100%) translateY(-3rem) translateZ(0);
    transform: translateY(100%) translateY(-3rem);
    transform: translateY(100%) translateY(-3rem) translateZ(0);
}

.glass.down::before {
    -webkit-transform: translateY(-100%) translateY(3rem);
    -webkit-transform: translateY(-100%) translateY(3rem) translateZ(0);
    transform: translateY(-100%) translateY(3rem);
    transform: translateY(-100%) translateY(3rem) translateZ(0);
}

.glass.up {
    -webkit-transform: translateY(4rem);
    -webkit-transform: translateY(4rem) translateZ(0);
    transform: translateY(4rem);
    transform: translateY(4rem) translateZ(0);
}
.glass.up::before {
    -webkit-transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem) translateZ(0);
    transform: translateY(-4rem);
    transform: translateY(-4rem) translateZ(0);
}
.glass, .glass::before {
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.up h1::before, .up h1::after {
    -webkit-transform: rotate(180deg);  
    transform: rotate(180deg);  
}

/* loader */
#movingBallG{
    position:relative;
    width:256px;
    height:20px;
}

.movingBallLineG{
    position:absolute;
    left:0px;
    top:8px;
    height:4px;
    width:256px;
    background-color:#dddddd;
}

.movingBallG{
    background-color:#444444;
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    -webkit-border-radius:10px;
    -webkit-animation-name:bounce_movingBallG;
    -webkit-animation-duration:1.4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    border-radius:10px;
    animation-name:bounce_movingBallG;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

@-webkit-keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:236px;
    }

    100%{
        left:0px;
    }
}

@keyframes bounce_movingBallG{
    0%{
        left:0px;
    }
    50%{
        left:236px;
    }
    100%{
        left:0px;
    }
}