/* 
    Document   : styles
    Created on : 11-Feb-2014, 23:25:39
    Author     : richard
    Description:
        Bar Web Portal
*/
html, body, .glass::before {
    font-family: 'Century Gothic', Verdana, sans-serif;
    font-size: 100%;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.glass {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.glass {
    display: block;
    position: relative;
    background-color: black;
}

.glass::before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
}
body {
    background: url(/img/bg-img.jpg) no-repeat;
    background-size: cover;
}
.glass::before {
    background-image: url('/img/bg-img.jpg');
    /* Prefix free isn't picking up this one */
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    opacity: 0.5;
}
.logo {
    font-weight: lighter;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    margin-top: 40px;
}
h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.3rem;
}
.requests_hidden {
    transition: 200ms;
    opacity: 0;
}
.requests_visible {
    opacity: 1;
    transition: 200ms;
}
#requests {
    width: 80%;
    height: 68%;
    position: absolute;
    margin: 100px 10%;
    overflow: auto;
    z-index: 2;
}
.list {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0 8px;
}
.list tr {
    background: rgba(0, 0, 0, 0.7);
}
.list tr td {
    padding: 10px 10px;
}
.vote {
    padding: 0 !important;
    margin: 0;
    cursor: pointer;
}
.vote .icon {
    background-image: url('/img/admin/icon-sprite.png');
    width: 32px;
    height: 32px;
    margin: 0 4px;
}
.vote_up .icon {
    background-position: -160px 0;
}
.vote_down .icon {
    background-position: -192px 0;
}
.glass_content {
    width: 80%;
    margin: 0 auto;
}
#request_form h1 {
    font-weight: normal;
    color: #8d9291;
    margin: 3px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
#request_form h1::before, #request_form h1::after {
    position: absolute;
    left: 5%;
    top: 0;
    background-image: url('/img/double-chevron-up.svg');
    content: ' ';
    display: block;
    width: 3rem;
    height: 3rem;
    transition: transform 0.2s ease-out 0.5s;
}
#request_form h1::after {
    left: auto;
    right: 5%;
}

#request_form .text {
    width: 40%;
    font-family: 'Century Gothic', Verdana, sans-serif;
    font-size: 0.9rem;
    padding: 8px;
    margin: 11px;
    vertical-align: top;
}
#request_form .button {
    background: #005daa;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 8px;
    margin: 8px;
    font-size: 1rem;
}

.glass.down {
    /* Fallback for browsers that don't support 3D Transforms */
    -webkit-transform: translateY(100%) translateY(-3rem);
    -webkit-transform: translateY(100%) translateY(-3rem) translateZ(0);
    transform: translateY(100%) translateY(-3rem);
    transform: translateY(100%) translateY(-3rem) translateZ(0);
}

.glass.down::before {
    -webkit-transform: translateY(-100%) translateY(3rem);
    -webkit-transform: translateY(-100%) translateY(3rem) translateZ(0);
    transform: translateY(-100%) translateY(3rem);
    transform: translateY(-100%) translateY(3rem) translateZ(0);
}

.glass.up {
    -webkit-transform: translateY(5rem);
    -webkit-transform: translateY(5rem) translateZ(0);
    transform: translateY(5rem);
    transform: translateY(5rem) translateZ(0);
}
.glass.up::before {
    -webkit-transform: translateY(-5rem);
    -webkit-transform: translateY(-5rem) translateZ(0);
    transform: translateY(-5rem);
    transform: translateY(-5rem) translateZ(0);
}
.glass, .glass::before {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.up h1::before, .up h1::after {
    -webkit-transform: rotate(180deg);  
    transform: rotate(180deg);  
}

.large_text {text-align: center; font-size: 1.6rem;}

#nowplaying {
    position: absolute;
    right: -24px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
    top: 59px;
    -webkit-transform: rotate(25deg);
    width: 49%;
    text-align: center;
    z-index: 1;
}
#event_info {
    position: absolute;
    left: -24px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
    top: 59px;
    -webkit-transform: rotate(-25deg);
    width: 49%;
    text-align: center;
    z-index: 1;
}

.keyboard {
    margin: 0 auto;
    width: 80%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.keyboard .kb_row {
    margin: 2px auto;
    height: 47px;
}
.keyboard .kb_row .kb_letter {
    background: rgba(0, 0, 0, 0.4);
    width: 16px;
    height: 16px;
    padding: 12px;
    margin: 2px;
    border: 1px solid #999999;
    float: left;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}
.keyboard .kb_row .kb_btn {
    background: rgba(0, 0, 0, 0.4);
    height: 16px;
    padding: 12px;
    margin: 2px;
    border: 1px solid #999999;
    float: left;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}
.keyboard .kb_row .kb_space {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #999999;
    float: left;
    width: 300px;
    height: 40px;
    margin: 2px;
    cursor: pointer;
}
.keyboard .kb_row .kb_letter:hover, .keyboard .kb_row .kb_btn:hover, .keyboard .kb_row .kb_space:hover, .keyboard .kb_row .kb_active {
    background: rgba(255, 255, 255, 0.6);
}
.comp_box {
    background: rgba(0, 0, 0, 0.8);
    list-style: none;
    padding: 0;
    margin: -11px 0 0 11px;
    position: absolute;
    width: 40%;
}
.comp_box li {
    border: 1px solid #999999;
    border-collapse: collapse;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}
.comp_box li:hover {
    background: rgba (255, 255, 255, 0.8);
}
/* loader */

.loader_centre {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 80%;
    padding: 40px 0;
    display: none;
}

#movingBallG{
    position:relative;
    width:256px;
    height:20px;
    margin: 0 auto;
}

.movingBallLineG{
    position:absolute;
    left:0px;
    top:8px;
    height:4px;
    width:256px;
    background-color:#999999;
}

.movingBallG{
    background-color:#ffffff;
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    -webkit-border-radius:10px;
    -webkit-animation-name:bounce_movingBallG;
    -webkit-animation-duration:1.4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    border-radius:10px;
    animation-name:bounce_movingBallG;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

@-webkit-keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:236px;
    }

    100%{
        left:0px;
    }
}

@keyframes bounce_movingBallG{
    0%{
        left:0px;
    }
    50%{
        left:236px;
    }
    100%{
        left:0px;
    }
}